In [1]:
from pandas import DataFrame, read_csv
from bs4 import BeautifulSoup
import requests
import re
from time import sleep
from random import randrange
from math import sqrt

In [2]:
daf=read_csv("pre_player_2006_2011.csv", encoding = "latin")

In [3]:
player_name=list(daf["name"]) #pl_name
played=list(daf["played"]) #pl_played

#batting order
run_bat=list(daf["run_bat"]) #bat_run
f_50s=list(daf["50s"])  #fi_50s
h_100s=list(daf["100s"]) #hu_100s
batted=list(daf["batted"]) #bat_batted
out=list(daf["out"]) #bat_out

#bowling order
bowled=list(daf["bowled"]) #boll_bowled
wkt_tacken=list(daf["wkt_tacken"]) #boll_wkt
wkt_5=list(daf["5_wkt_taken"]) #boll_5
run_given=list(daf["run_given_bowler"]) #boll_run
econ=list(daf["econ"]) #boll_eco
over=list(daf["over"]) #boll_ove

In [2]:
player_name=[] #pl_name
played=[] #pl_played

#batting order
run_bat=[] #bat_run
f_50s=[]  #fi_50s
h_100s=[] #hu_100s
batted=[] #bat_batted
out=[] #bat_out

#bowling order
bowled=[] #boll_bowled
wkt_tacken=[] #boll_wkt
wkt_5=[] #boll_5
run_given=[] #boll_run
econ=[] #boll_eco
over=[] #boll_ove

In [77]:
play_test=pd.read_csv("player.csv", encoding="latin")

NameError: name 'pd' is not defined

In [115]:
test_name=play_test["name"]
test_played=play_test["played"]
test_bat_run=play_test["run_bat"]
test_50s=play_test["50s"]
test_100s=play_test["100s"]
test_batted=play_test["batted"]
test_out=play_test["out"]
test_bowled=play_test["bowled"]
test_wkt=play_test["wkt_taken"]
test_5wkt=play_test["5_wkt_taken"]
test_boll_run=play_test["run_given_bowler"]
test_econ=play_test["econ"]
test_over=play_test["over"]
#test_country=test_country["country"]

NameError: name 'play_test' is not defined

In [9]:
total=0
match_count=1
for i in range(1, 3):
    newUrl="https://stats.espncricinfo.com/ci/engine/stats/index.html?ballsmax1=300;ballsval1=balls;class=2;filter=advanced;floodlit=1;floodlit=2;home_or_away=1;home_or_away=2;home_or_away=3;innings_number=1;innings_number=2;opposition=1;opposition=2;opposition=25;opposition=3;opposition=4;opposition=5;opposition=6;opposition=7;opposition=8;orderby=start;page="+str(i)+";result=1;spanmax2=31+Dec+2011;spanmin2=01+Jan+2011;spanval2=span;team=1;team=2;team=25;team=3;team=4;team=5;team=6;team=7;team=8;template=results;type=team;view=results"
    #print(newUrl)
    response=requests.get(newUrl,timeout=60)
    soup=BeautifulSoup(response.text, 'lxml')
    table = soup.find_all("div",attrs={"class": "engine-dd"})
    res=[]
    for result in table:
        s=result.findAll('a', attrs={'href': re.compile("^/ci/engine/match/")})
        if s:
            href=s[0].get('href')
            res.append("https://stats.espncricinfo.com/"+href)
            
    #bolling and batting calculation
    #batting
    #venue
    table = soup.find_all("div",attrs={"class": "engine-dd"})
    table = soup.find_all('table')[2] 
    table_body=table.find('tbody')
    rows = table_body.find_all('tr')
    winner=[]
    venue_g=[]
    toss=[]
    for row in rows[:]:
        cols=row.find_all('td')
        colm=[]
        for x in cols:
            colm.append(x.text.strip())
        winner.append(colm[0])
        if colm[4]=="won":
            toss.append(colm[0])
        else:
            con=colm[7].split("v ")[1].strip()
            toss.append(con)
        venue_g.append(colm[8].split("(")[0].strip().lower())
    print(len(venue_g))
    print(res[0])
    pointer=0
    for incre in range(len(res)):
        url=res[incre]
        print(url)
        pl_name=[]
        #boll
        pl_played=[]
        boll_eco=[]
        boll_ove=[]
        boll_bowled=[]
        boll_wkt=[]
        boll_5=[]
        boll_run=[]
        #batsman
        bat_run=[]
        fi_50s=[]
        hu_100s=[]
        bat_batted=[]
        bat_out=[]
        not_batted=[]
        team_belong=[]
        
        res_response=requests.get(url, timeout=60)
        res_soup=BeautifulSoup(res_response.text,'lxml')
        
        #team data collected
        team=res_soup.find_all("div", attrs={"class":"cscore_link cscore_link--button"})
        team_name=team[1].find_all("span", attrs={"class":"cscore_name cscore_name--long"})
        teamA=team_name[0].text.strip() #0
        teamB=team_name[1].text.strip() #1
        
        """
        #Venue / Ground
        venue=soup.find("article", attrs={"class":"sub-module game-information pre"})
        venue=venue.find("div", attrs={"class":"stadium-details"})
        venue=venue.find("span")
        venue=venue.text.split(",")[1].strip()
        """
        try:
            print(incre)
            print(venue_g[incre],incre)
            ground_csv=read_csv("ground.csv", encoding = "latin")
            ground=ground_csv[ground_csv["City"]==venue_g[incre]].index.values
            venue=ground_csv["Country"][ground]
            #toss
            tos=toss[incre]
            winner=[incre]
            pointer+=1

            table = res_soup.find_all("article",attrs={"class": "sub-module scorecard"})

            #score of one row
            for score_section in table:
                batting_team=score_section.find("h2").text.strip()
                print("bat",batting_team, teamA, teamB)
                if teamA in batting_team:
                    print("teamA")
                elif teamB in batting_team:
                    print("teamB")
                score_b=score_section.find_all("div", attrs={"class":"wrap batsmen"})
                for result in score_b:
                    #name=result.find("a").text
                    comm=result.find("div", attrs={"class":"cell commentary"})
                    run=result.findAll("div", attrs={"class":"cell runs"})
                    batRun=[]
                    for i in run:
                        if i:
                            batRun.append(i.text)
                    #print(name.text,"--------",comm.text)
                    #how many out
                    bats=result.find("div", attrs={"class":"cell batsmen"})
                    bats=bats.text.split("†")[0].strip().split("(c)")[0].strip().lower()
                    comm=result.find("div", attrs={"class":"cell commentary"})
                    if bats in pl_name:
                        pl_index=pl_name.index(bats)
                        if comm.text!="not out":
                            bat_out[pl_index]+=1
                        if int(batRun[0])>=100:
                            hu_100s[pl_index]+=1
                        elif int(batRun[0])>=50:
                            fi_50s[pl_index]+=1
                        if bat_batted[pl_index]==0:
                            bat_batted[pl_index]=1
                        bat_run[pl_index]+=int(batRun[0])
                    else:
                        try:
                            bat_run.append(int(batRun[0]))
                            pl_name.append(bats)
                            if comm.text!="not out":
                                bat_out.append(1)
                            else:
                                bat_out.append(0)

                            bat_batted.append(1)
                            if int(batRun[0])>=100:
                                hu_100s.append(1)
                                fi_50s.append(0)
                            elif int(batRun[0])>=50:
                                fi_50s.append(1)
                                hu_100s.append(0)
                            else:
                                hu_100s.append(0)
                                fi_50s.append(0)
                            boll_ove.append(0)
                            boll_bowled.append(0)
                            boll_wkt.append(0)
                            boll_5.append(0)
                            boll_run.append(0)
                            boll_eco.append(0)
                            pl_played.append(1)
                            if teamA in batting_team:
                                team_belong.append("teamA")
                            elif teamB in batting_team:
                                team_belong.append("teamB")
                        except:
                                print("error", batRun[0], "type",type(batRun[0]))
                                pass
                #bowling score
                score_bal=score_section.find("div", attrs={"class":"scorecard-section bowling"})
                ball_table=score_bal.find("table")
                body=ball_table.find("tbody")
                rows=body.find_all("tr")
                for row in rows:
                        cols=row.find_all("td")
                        colm=[]
                        for x in cols:
                            colm.append(x.text.strip())
                        colmN=colm[0].split("†")[0].strip().split("(c)")[0].strip().lower()
                        if colmN in pl_name:

                            pl_index=pl_name.index(colmN)
                            boll_ove[pl_index]+=float(colm[2])  #2
                            boll_run[pl_index]+=int(colm[4]) #4
                            boll_wkt[pl_index]+=int(colm[5]) #5
                            if boll_eco[pl_index]:
                                boll_eco[pl_index]=float((boll_eco[pl_index]+float(colm[6]))/2) #6
                            else:
                                boll_eco[pl_index]=float(colm[6])
                            if  int(colm[5])>=5:
                                boll_5[pl_index]+=1
                            if boll_bowled[pl_index]==0:
                                boll_bowled[pl_index]=1

                        else:
                            colmN=colm[0].split("†")[0].strip().split("(c)")[0].strip().lower()
                            pl_name.append(colmN) #0
                            boll_ove.append(float(colm[2]))  #2
                            boll_run.append(int(colm[4])) #4
                            boll_wkt.append(int(colm[5])) #5
                            boll_eco.append(float(colm[6])) #6
                            hu_100s.append(0)
                            fi_50s.append(0)
                            bat_batted.append(0)
                            bat_run.append(0)
                            bat_out.append(0)
                            if  int(colm[5])>=5:
                                boll_5.append(1)
                            else:
                                boll_5.append(0)
                            boll_bowled.append(1)
                            pl_played.append(1)
                            if teamA in batting_team:
                                team_belong.append("teamB")
                            elif teamB in batting_team:
                                team_belong.append("teamA")

                # not batted player
                not_bat=score_section.find("div", attrs={"class":"wrap dnb"})
                cell=not_bat.find("div", attrs={"class":"cell"})
                row=cell.find_all("a")
                if row:
                    for rows in row:
                            play_not=rows.text.replace(',',"")
                            play_not=play_not.strip()
                            play_not=play_not.split("†")[0].strip().split("(c)")[0].strip().lower()
                            if play_not not in pl_name:
                                    pl_name.append(play_not)
                                    boll_ove.append(0)  #2
                                    boll_run.append(0) #4
                                    boll_wkt.append(0) #5
                                    boll_eco.append(0) #6
                                    boll_5.append(0)
                                    boll_bowled.append(0)
                                    hu_100s.append(0)
                                    fi_50s.append(0)
                                    bat_batted.append(0)
                                    bat_run.append(0)
                                    bat_out.append(0)
                                    pl_played.append(1)
                                    if teamA in batting_team:
                                        team_belong.append("teamA")
                                    elif teamB in batting_team:
                                        team_belong.append("+eamB")    
            """
            batt=bat(pl_name, pl_played, bat_batted, hu_100s, fi_50s, bat_run, bat_out, 2012)                            
            batt=batt.model_bat()
            """
            dft=DataFrame()
            dft["name"]=pl_name #0
            dft["boll_bowled"]=boll_bowled
            dft["over"]=boll_ove  #2
            dft["boll_run"]=boll_run #4
            dft["wkt"]=boll_wkt #5
            dft["econ"]=boll_eco #6
            dft["5_wkt"]=boll_5
            dft["bat_run"]=bat_run
            dft["bat_out"]=bat_out
            dft["bat_batted"]=bat_batted
            dft["pl_paly"]=pl_played
            dft["fifties"]=fi_50s
            dft["centuries"]=hu_100s
            #dft["team_belong"]=team_belong
            #dft["batsman_score"]=batt
            #print(len(team_belong), len(pl_name))
            #print(dft.head(22))
            dft.to_csv("C:/Users/HP/winnning/matches/"+str(match_count)+".csv", mode="a",header=True)
            match_count+=1


            #final data updation before moving to next match
            
            for pl in pl_name:
                player_id=pl_name.index(pl)
                if pl in player_name:
                    ind=player_name.index(pl)
                    #name[index] #pl_name
                    played[ind]+=pl_played[player_id]

                    #batting order
                    run_bat[ind]+=bat_run[player_id]
                    f_50s[ind]+=fi_50s[player_id]
                    h_100s[ind]+=hu_100s[player_id]
                    batted[ind]+=bat_batted[player_id]
                    out[ind]+=bat_out[player_id]

                    #bowling order
                    bowled[ind]+=boll_bowled[player_id]
                    wkt_tacken[ind]+=boll_wkt[player_id]
                    wkt_5[ind]+=boll_5[player_id]
                    run_given[ind]+=boll_run[player_id]
                    econ[ind]=(econ[ind]+boll_eco[player_id])/2
                    over[ind]+=boll_ove[player_id]
                else:
                    player_name.append(pl)
                    played.append(pl_played[player_id]) #pl_played

                    #batting order
                    run_bat.append(bat_run[player_id])
                    f_50s.append(fi_50s[player_id])
                    h_100s.append(hu_100s[player_id])
                    batted.append(bat_batted[player_id])
                    out.append(bat_out[player_id])

                    #bowling order
                    bowled.append(boll_bowled[player_id])
                    wkt_tacken.append(boll_wkt[player_id])
                    wkt_5.append(boll_5[player_id])
                    run_given.append(boll_run[player_id])
                    econ.append(boll_eco[player_id])
                    over.append(boll_ove[player_id])
        except:
            print(incre)
            pointer+=1
            print("error: ground")
            print(len(venue_g))
    #total+=len(res)
    ran=randrange(0,4,2)
    sleep(ran)

50
https://stats.espncricinfo.com//ci/engine/match/463150.html
https://stats.espncricinfo.com//ci/engine/match/463150.html
0
durban 0
bat South Africa Innings South Africa India
teamA
bat India Innings South Africa India
teamB
https://stats.espncricinfo.com//ci/engine/match/463151.html
1
johannesburg 1
bat India Innings India South Africa
teamA
bat South Africa Innings India South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/446962.html
2
melbourne 2
bat England Innings England Australia
teamA
bat Australia Innings England Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/463152.html
3
cape town 3
bat South Africa Innings South Africa India
teamA
bat India Innings South Africa India
teamB
https://stats.espncricinfo.com//ci/engine/match/446963.html
4
hobart 4
bat Australia Innings Australia England
teamA
bat England Innings Australia England
teamB
https://stats.espncricinfo.com//ci/engine/match/463153.html
5
port elizabeth 5
bat South Africa Innings South Africa India
teamA
bat India Innings South Africa India
teamB
https://stats.espncricinfo.com//ci/engine/match/473923.html
6
wellington 6
bat Pakistan Innings Pakistan New Zealand
teamA
bat New Zealand Innings Pakistan New Zealand
teamB
https://stats.espncricinfo.com//ci/engine/match/446964.html
7
sydney 7
bat England Innings England Australia
teamA
bat Australia Innings England Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/463154.html
8
centurion 8
bat South Africa Innings South Africa India
teamA
bat India Innings South Africa India
teamB
https://stats.espncricinfo.com//ci/engine/match/446965.html
9
adelaide 9
bat England Innings England Australia
teamA
bat Australia Innings England Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/473925.html
10
christchurch 10
bat Pakistan Innings Pakistan New Zealand
teamA
bat New Zealand Innings Pakistan New Zealand
teamB
https://stats.espncricinfo.com//ci/engine/match/446966.html
11
brisbane 11
bat Australia Innings Australia England
teamA
bat England Innings Australia England
teamB
https://stats.espncricinfo.com//ci/engine/match/473926.html
12
napier 12
bat New Zealand Innings New Zealand Pakistan
teamA
bat Pakistan Innings New Zealand Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/446967.html
13
sydney 13
bat England Innings England Australia
teamA
bat Australia Innings England Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/473927.html
14
hamilton 14
bat Pakistan Innings Pakistan New Zealand
teamA
bat New Zealand Innings Pakistan New Zealand
teamB
https://stats.espncricinfo.com//ci/engine/match/464991.html
15
colombo 15
bat West Indies Innings West Indies Sri Lanka
teamA
bat Sri Lanka Innings West Indies Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/473928.html
16
auckland 16
bat New Zealand Innings New Zealand Pakistan
teamA
bat Pakistan Innings New Zealand Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/446968.html
17
perth 17
bat Australia Innings Australia England
teamA
bat England Innings Australia England
teamB
https://stats.espncricinfo.com//ci/engine/match/464992.html
18
colombo 18
bat Sri Lanka Innings Sri Lanka West Indies
teamA
bat West Indies Innings Sri Lanka West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/433558.html
19
dhaka 19
bat India Innings India Bangladesh
teamA
bat Bangladesh Innings India Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/433564.html
20
delhi 20
bat West Indies Innings West Indies South Africa
teamA
bat South Africa Innings West Indies South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/433565.html
21
nagpur 21
bat New Zealand Innings New Zealand Australia
teamA
bat Australia Innings New Zealand Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/433567.html
22
colombo 22
bat Pakistan Innings Pakistan Sri Lanka
teamA
bat Sri Lanka Innings Pakistan Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/433576.html
23
dhaka 23
bat Bangladesh Innings Bangladesh West Indies
teamA
bat West Indies Innings Bangladesh West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/433579.html
24
chennai 24
bat England Innings England South Africa
teamA
bat South Africa Innings England South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/433581.html
25
pallekele 25
bat New Zealand Innings New Zealand Pakistan
teamA
bat Pakistan Innings New Zealand Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/433585.html
26
chattogram 26
bat England Innings England Bangladesh
teamA
bat Bangladesh Innings England Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/433586.html
27
nagpur 27
bat India Innings India South Africa
teamA
bat South Africa Innings India South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/433593.html
28
chennai 28
bat England Innings England West Indies
teamA
bat West Indies Innings England West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/433594.html
29
mumbai 29
bat Sri Lanka Innings Sri Lanka New Zealand
teamA
bat New Zealand Innings Sri Lanka New Zealand
teamB
https://stats.espncricinfo.com//ci/engine/match/433597.html
30
dhaka 30
bat South Africa Innings South Africa Bangladesh
teamA
bat Bangladesh Innings South Africa Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/433596.html
31
colombo 31
bat Australia Innings Australia Pakistan
teamA
bat Pakistan Innings Australia Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/433599.html
32
chennai 32
bat India Innings India West Indies
teamA
bat West Indies Innings India West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/433600.html
33
dhaka 33
bat West Indies Innings West Indies Pakistan
teamA
bat Pakistan Innings West Indies Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/433601.html
34
ahmedabad 34
bat Australia Innings Australia India
teamA
bat India Innings Australia India
teamB
https://stats.espncricinfo.com//ci/engine/match/433602.html
35
dhaka 35
bat New Zealand Innings New Zealand South Africa
teamA
bat South Africa Innings New Zealand South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/433603.html
36
colombo 36
bat England Innings England Sri Lanka
teamA
bat Sri Lanka Innings England Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/433604.html
37
colombo 37
bat New Zealand Innings New Zealand Sri Lanka
teamA
bat Sri Lanka Innings New Zealand Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/433605.html
38
mohali 38
bat India Innings India Pakistan
teamA
bat Pakistan Innings India Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/433606.html
39
mumbai 39
bat Sri Lanka Innings Sri Lanka India
teamA
bat India Innings Sri Lanka India
teamB
https://stats.espncricinfo.com//ci/engine/match/503363.html
40
dhaka 40
bat Australia Innings Australia Bangladesh
teamA
bat Bangladesh Innings Australia Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/503364.html
41
dhaka 41
bat Bangladesh Innings Bangladesh Australia
teamA
bat Australia Innings Bangladesh Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/503365.html
42
dhaka 42
bat Australia Innings Australia Bangladesh
teamA
bat Bangladesh Innings Australia Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/489213.html
43
gros islet 43
bat West Indies Innings West Indies Pakistan
teamA
bat Pakistan Innings West Indies Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/489214.html
44
gros islet 44
bat West Indies Innings West Indies Pakistan
teamA
bat Pakistan Innings West Indies Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/489215.html
45
bridgetown 45
bat West Indies Innings West Indies Pakistan
teamA
bat Pakistan Innings West Indies Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/489216.html
46
bridgetown 46
bat Pakistan Innings Pakistan West Indies
teamA
bat West Indies Innings Pakistan West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/489217.html
47
providence 47
bat Pakistan Innings Pakistan West Indies
teamA
bat West Indies Innings Pakistan West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/489221.html

48
port of spain 48
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/489222.html
49
port of spain 49
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
40
https://stats.espncricinfo.com//ci/engine/match/489223.html
https://stats.espncricinfo.com//ci/engine/match/489223.html
0
north sound 0
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/489224.html
1
north sound 1
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/489225.html
2
kingston 2
bat India Innings India West Indies
teamA
bat West Indies Innings India West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/474467.html
3
the oval 3
bat England Innings England Sri Lanka
teamA
bat Sri Lanka Innings England Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/474468.html
4
leeds 4
bat Sri Lanka Innings Sri Lanka England
teamA
bat England Innings Sri Lanka England
teamB
https://stats.espncricinfo.com//ci/engine/match/474469.html
5
lord's 5
bat England Innings England Sri Lanka
teamA
bat Sri Lanka Innings England Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/474470.html
6
nottingham 6
bat Sri Lanka Innings Sri Lanka England
teamA
bat England Innings Sri Lanka England
teamB
https://stats.espncricinfo.com//ci/engine/match/474471.html
7
manchester 7
bat England Innings England Sri Lanka
teamA
bat Sri Lanka Innings England Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/516206.html
8
pallekele 8
bat Sri Lanka Innings Sri Lanka Australia
teamA
bat Australia Innings Sri Lanka Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/516207.html
9
hambantota 9
bat Sri Lanka Innings Sri Lanka Australia
teamA
bat Australia Innings Sri Lanka Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/516208.html
10
hambantota 10
bat Sri Lanka Innings Sri Lanka Australia
teamA
bat Australia Innings Sri Lanka Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/516209.html
11
colombo 11
bat Sri Lanka Innings Sri Lanka Australia
teamA
bat Australia Innings Sri Lanka Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/516210.html
12
colombo 12
bat Australia Innings Australia Sri Lanka
teamA
bat Sri Lanka Innings Australia Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/474478.html
13
southampton 13
bat India Innings India England
teamA
bat England Innings India England
teamB
https://stats.espncricinfo.com//ci/engine/match/474479.html
14
the oval 14
bat India Innings India England
teamA
bat England Innings India England
teamB
https://stats.espncricinfo.com//ci/engine/match/474481.html
15
cardiff 15
bat India Innings India England
teamA
bat England Innings India England
teamB
https://stats.espncricinfo.com//ci/engine/match/531983.html
16
dhaka 16
bat West Indies Innings West Indies Bangladesh
teamA
bat Bangladesh Innings West Indies Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/521218.html
17
hyderabad 17
bat India Innings India England
teamA
bat England Innings India England
teamB
https://stats.espncricinfo.com//ci/engine/match/531984.html
18
dhaka 18
bat Bangladesh Innings Bangladesh West Indies
teamA
bat West Indies Innings Bangladesh West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/521219.html
19
delhi 19
bat England Innings England India
teamA
bat India Innings England India
teamB
https://stats.espncricinfo.com//ci/engine/match/531985.html
20
chattogram 20
bat West Indies Innings West Indies Bangladesh
teamA
bat Bangladesh Innings West Indies Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/514025.html
21
centurion 21
bat Australia Innings Australia South Africa
teamA
bat South Africa Innings Australia South Africa
teamB
https://stats.espncricinfo.com//ci/engine/match/521220.html
22
mohali 22
bat England Innings England India
teamA
bat India Innings England India
teamB
https://stats.espncricinfo.com//ci/engine/match/521221.html
23
mumbai 23
bat England Innings England India
teamA
bat India Innings England India
teamB
https://stats.espncricinfo.com//ci/engine/match/514026.html
24
port elizabeth 24
bat South Africa Innings South Africa Australia
teamA
bat Australia Innings South Africa Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/521222.html
25
kolkata 25
bat India Innings India England
teamA
bat England Innings India England
teamB
https://stats.espncricinfo.com//ci/engine/match/514027.html
26
durban 26
bat South Africa Innings South Africa Australia
teamA
bat Australia Innings South Africa Australia
teamB
https://stats.espncricinfo.com//ci/engine/match/530427.html
27
dubai 27
bat Sri Lanka Innings Sri Lanka Pakistan
teamA
bat Pakistan Innings Sri Lanka Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/530428.html
28
dubai 28
bat Sri Lanka Innings Sri Lanka Pakistan
teamA
bat Pakistan Innings Sri Lanka Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/530429.html
29
dubai 29
bat Pakistan Innings Pakistan Sri Lanka
teamA
bat Sri Lanka Innings Pakistan Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/530430.html
30
sharjah 30
bat Pakistan Innings Pakistan Sri Lanka
teamA
bat Sri Lanka Innings Pakistan Sri Lanka
teamB
https://stats.espncricinfo.com//ci/engine/match/530431.html
31
abu dhabi 31
bat Sri Lanka Innings Sri Lanka Pakistan
teamA
bat Pakistan Innings Sri Lanka Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/536929.html
32
cuttack 32
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/538069.html
33
dhaka 33
bat Bangladesh Innings Bangladesh Pakistan
teamA
bat Pakistan Innings Bangladesh Pakistan
teamB
https://stats.espncricinfo.com//ci/engine/match/536930.html
34
visakhapatnam 34
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/538070.html
35
dhaka 35
bat Pakistan Innings Pakistan Bangladesh
teamA
bat Bangladesh Innings Pakistan Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/536931.html
36
ahmedabad 36
bat West Indies Innings West Indies India
teamA
bat India Innings West Indies India
teamB
https://stats.espncricinfo.com//ci/engine/match/538071.html
37
chattogram 37
bat Pakistan Innings Pakistan Bangladesh
teamA
bat Bangladesh Innings Pakistan Bangladesh
teamB
https://stats.espncricinfo.com//ci/engine/match/536932.html
38
indore 38
bat India Innings India West Indies
teamA
bat West Indies Innings India West Indies
teamB
https://stats.espncricinfo.com//ci/engine/match/536933.html
39
chennai 39
bat India Innings India West Indies
teamA
bat West Indies Innings India West Indies
teamB

In [4]:
dff=DataFrame()
dff["name"]=player_name
dff["played"]=played
dff["run_bat"]=run_bat
dff["50s"]=f_50s
dff["100s"]=h_100s
dff["batted"]=batted
dff["out"]=out
dff["bowled"]=bowled
dff["wkt_tacken"]=wkt_tacken
dff["5_wkt_taken"]=wkt_5
dff["run_given_bowler"]=run_given
dff["econ"]=econ
dff["over"]=over

In [7]:
dff.to_csv("pre-2008-2011.csv", mode="a", header=True)

In [6]:
dff

,name,played,run_bat,50s,100s,batted,out,bowled,wkt_tacken,5_wkt_taken,run_given_bowler,econ,over
0,WU Tharanga,93,3101,15,9,93,88,0,0,0,0,0.000000e+00,0.0
1,DA Gunawardene,1,3,0,0,1,1,0,0,0,0,0.000000e+00,0.0
2,KC Sangakkara,135,5122,39,7,133,126,0,0,0,0,0.000000e+00,0.0
3,DPMD Jayawardene,135,4370,31,7,134,121,1,0,0,15,1.410593e-36,2.0
4,MS Atapattu,25,697,4,0,24,21,0,0,0,0,0.000000e+00,0.0
5,TM Dilshan,129,3697,14,7,121,108,82,33,0,1740,4.631514e+00,358.6
6,MF Maharoof,51,678,2,0,40,32,51,67,2,1897,6.189166e+00,381.8
7,RP Arnold,31,615,5,0,29,18,6,3,0,85,6.872292e-01,16.1
8,WPUJC Vaas,55,320,0,0,42,28,55,66,1,1990,4.153355e+00,471.3
9,KD Mills,62,614,2,0,43,33,62,110,1,2545,5.195383e+00,528.8
10,SE Bond,42,156,0,0,24,10,42,73,1,1729,3.817872e+00,395.3
11,CL Cairns,3,40,0,0,3,2,3,2,0,122,5.867500e+00,21.0
12,JDP Oram,56,1191,9,1,42,35,56,55,0,1686,4.198061e+00,407.3
13,DL Vettori,90,1092,3,0,65,49,89,104,1,3203,3.397394e+00,809.4
14,SB Styris,67,1962,14,1,61,53,55,30,0,1496,4.073557e+00,298.9
15,M Muralitharan,77,243,0,0,43,24,77,112,1,3163,4.671636e+00,705.8
16,CRD Fernando,57,144,0,0,27,11,56,73,1,2360,4.623995e+00,435.9
17,L Vincent,23,637,4,1,23,22,2,1,0,22,8.593750e-02,3.0
18,JM How,35,829,6,0,33,32,0,0,0,0,0.000000e+00,0.0
19,NJ Astle,17,632,4,1,17,15,10,3,0,143,2.662201e+00,28.4
20,PG Fulton,41,1099,6,1,39,35,0,0,0,0,0.000000e+00,0.0
21,HJH Marshall,17,296,2,0,17,15,0,0,0,0,0.000000e+00,0.0
22,BB McCullum,99,2364,11,1,93,87,0,0,0,0,0.000000e+00,0.0
23,SP Fleming,30,923,6,2,30,28,0,0,0,0,0.000000e+00,0.0
24,JEC Franklin,47,747,3,0,41,24,44,38,0,1596,4.543169e+00,310.3
25,J Mubarak,24,499,3,0,24,20,3,1,0,21,4.942417e-04,3.3
26,HMCM Bandara,28,147,0,0,15,11,26,33,0,1142,5.043399e+00,224.6
27,JS Patel,32,88,0,0,13,6,32,32,0,1277,6.943191e+00,251.6
28,CS Martin,10,2,0,0,2,1,10,9,0,399,5.533125e+00,85.0
29,PDRL Perera,15,5,0,0,5,3,15,15,0,631,6.686797e+00,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Junaid Khan,6,2,0,0,2,1,6,4,0,176,5.463750e+00,36.0
433,Mohammad Salman,5,22,0,0,3,2,0,0,0,0,0.000000e+00,0.0
434,Hammad Azam,4,37,0,0,2,2,3,1,0,45,6.400000e+00,8.0
435,A Martin,9,10,0,0,6,1,9,11,0,296,4.680664e+00,74.0
436,Usman Salahuddin,2,13,0,0,2,2,0,0,0,0,0.000000e+00,0.0
437,Tanvir Ahmed,1,18,0,0,1,1,1,1,0,45,7.500000e+00,6.0
438,Taufeeq Umar,1,3,0,0,1,1,0,0,0,0,0.000000e+00,0.0
439,DP Hyatt,9,112,0,0,9,8,0,0,0,0,0.000000e+00,0.0
440,MK Tiwary,5,163,0,1,5,5,3,1,0,69,9.306250e+00,10.0
441,JW Dernbach,11,13,0,0,4,3,11,12,0,573,6.838086e+00,92.0
442,FDM Karunaratne,1,4,0,0,1,1,0,0,0,0,0.000000e+00,0.0
443,RMS Eranga,3,3,0,0,3,2,3,4,0,99,5.165000e+00,19.0
444,S Prasanna,7,18,0,0,5,4,7,8,0,272,5.487031e+00,56.3
445,AM Rahane,9,262,2,0,9,9,0,0,0,0,0.000000e+00,0.0
446,BA Stokes,2,20,0,0,1,1,0,0,0,0,0.000000e+00,0.0
447,JM Bairstow,6,90,0,0,5,4,0,0,0,0,0.000000e+00,0.0
448,Nasir Hossain,6,183,1,1,5,5,6,3,0,77,5.914062e+00,14.4
449,CR Brathwaite,1,11,0,0,1,1,0,0,0,0,0.000000e+00,0.0
450,Shuvagata Hom,1,0,0,0,0,0,0,0,0,0,0.000000e+00,0.0
451,MR Marsh,1,8,0,0,1,0,1,1,0,19,4.750000e+00,4.0
452,PJ Cummins,3,17,0,0,2,0,3,5,0,150,6.607500e+00,23.0
453,SG Borthwick,1,3,0,0,1,1,1,0,0,59,7.370000e+00,8.0
454,SC Meaker,2,2,0,0,2,2,2,2,0,110,5.750000e+00,19.0
455,VR Aaron,4,6,0,0,1,0,4,6,0,156,5.882500e+00,28.1
456,CKB Kulasekara,1,0,0,0,1,1,1,0,0,17,5.660000e+00,3.0
457,Aizaz Cheema,4,9,0,0,2,1,4,5,0,134,4.825000e+00,24.0
458,Elias Sunny,2,1,0,0,2,1,2,3,0,82,5.285000e+00,16.0
459,SP Narine,3,35,0,0,2,1,3,3,0,121,4.815000e+00,26.0
460,R Sharma,2,0,0,0,0,0,2,4,0,88,4.400000e+00,20.0
461,JN Mohammed,1,2,0,0,1,1,0,0,0,0,0.000000e+00,0.0

In [5]:
dff.to_csv("pre-2008-11.csv", mode="a",header=True)

In [8]:
dff

,name,played,run_bat,50s,100s,batted,out,bowled,wkt_tacken,5_wkt_taken,run_given_bowler,econ,over
0,WU Tharanga,93,3101,15,9,93,88,0,0,0,0,0.000000e+00,0.0
1,DA Gunawardene,1,3,0,0,1,1,0,0,0,0,0.000000e+00,0.0
2,KC Sangakkara,135,5122,39,7,133,126,0,0,0,0,0.000000e+00,0.0
3,DPMD Jayawardene,135,4370,31,7,134,121,1,0,0,15,1.410593e-36,2.0
4,MS Atapattu,25,697,4,0,24,21,0,0,0,0,0.000000e+00,0.0
5,TM Dilshan,129,3697,14,7,121,108,82,33,0,1740,4.631514e+00,358.6
6,MF Maharoof,51,678,2,0,40,32,51,67,2,1897,6.189166e+00,381.8
7,RP Arnold,31,615,5,0,29,18,6,3,0,85,6.872292e-01,16.1
8,WPUJC Vaas,55,320,0,0,42,28,55,66,1,1990,4.153355e+00,471.3
9,KD Mills,62,614,2,0,43,33,62,110,1,2545,5.195383e+00,528.8
10,SE Bond,42,156,0,0,24,10,42,73,1,1729,3.817872e+00,395.3
11,CL Cairns,3,40,0,0,3,2,3,2,0,122,5.867500e+00,21.0
12,JDP Oram,56,1191,9,1,42,35,56,55,0,1686,4.198061e+00,407.3
13,DL Vettori,90,1092,3,0,65,49,89,104,1,3203,3.397394e+00,809.4
14,SB Styris,67,1962,14,1,61,53,55,30,0,1496,4.073557e+00,298.9
15,M Muralitharan,77,243,0,0,43,24,77,112,1,3163,4.671636e+00,705.8
16,CRD Fernando,57,144,0,0,27,11,56,73,1,2360,4.623995e+00,435.9
17,L Vincent,23,637,4,1,23,22,2,1,0,22,8.593750e-02,3.0
18,JM How,35,829,6,0,33,32,0,0,0,0,0.000000e+00,0.0
19,NJ Astle,17,632,4,1,17,15,10,3,0,143,2.662201e+00,28.4
20,PG Fulton,41,1099,6,1,39,35,0,0,0,0,0.000000e+00,0.0
21,HJH Marshall,17,296,2,0,17,15,0,0,0,0,0.000000e+00,0.0
22,BB McCullum,99,2364,11,1,93,87,0,0,0,0,0.000000e+00,0.0
23,SP Fleming,30,923,6,2,30,28,0,0,0,0,0.000000e+00,0.0
24,JEC Franklin,47,747,3,0,41,24,44,38,0,1596,4.543169e+00,310.3
25,J Mubarak,24,499,3,0,24,20,3,1,0,21,4.942417e-04,3.3
26,HMCM Bandara,28,147,0,0,15,11,26,33,0,1142,5.043399e+00,224.6
27,JS Patel,32,88,0,0,13,6,32,32,0,1277,6.943191e+00,251.6
28,CS Martin,10,2,0,0,2,1,10,9,0,399,5.533125e+00,85.0
29,PDRL Perera,15,5,0,0,5,3,15,15,0,631,6.686797e+00,114.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,Junaid Khan,6,2,0,0,2,1,6,4,0,176,5.463750e+00,36.0
433,Mohammad Salman,5,22,0,0,3,2,0,0,0,0,0.000000e+00,0.0
434,Hammad Azam,4,37,0,0,2,2,3,1,0,45,6.400000e+00,8.0
435,A Martin,9,10,0,0,6,1,9,11,0,296,4.680664e+00,74.0
436,Usman Salahuddin,2,13,0,0,2,2,0,0,0,0,0.000000e+00,0.0
437,Tanvir Ahmed,1,18,0,0,1,1,1,1,0,45,7.500000e+00,6.0
438,Taufeeq Umar,1,3,0,0,1,1,0,0,0,0,0.000000e+00,0.0
439,DP Hyatt,9,112,0,0,9,8,0,0,0,0,0.000000e+00,0.0
440,MK Tiwary,5,163,0,1,5,5,3,1,0,69,9.306250e+00,10.0
441,JW Dernbach,11,13,0,0,4,3,11,12,0,573,6.838086e+00,92.0
442,FDM Karunaratne,1,4,0,0,1,1,0,0,0,0,0.000000e+00,0.0
443,RMS Eranga,3,3,0,0,3,2,3,4,0,99,5.165000e+00,19.0
444,S Prasanna,7,18,0,0,5,4,7,8,0,272,5.487031e+00,56.3
445,AM Rahane,9,262,2,0,9,9,0,0,0,0,0.000000e+00,0.0
446,BA Stokes,2,20,0,0,1,1,0,0,0,0,0.000000e+00,0.0
447,JM Bairstow,6,90,0,0,5,4,0,0,0,0,0.000000e+00,0.0
448,Nasir Hossain,6,183,1,1,5,5,6,3,0,77,5.914062e+00,14.4
449,CR Brathwaite,1,11,0,0,1,1,0,0,0,0,0.000000e+00,0.0
450,Shuvagata Hom,1,0,0,0,0,0,0,0,0,0,0.000000e+00,0.0
451,MR Marsh,1,8,0,0,1,0,1,1,0,19,4.750000e+00,4.0
452,PJ Cummins,3,17,0,0,2,0,3,5,0,150,6.607500e+00,23.0
453,SG Borthwick,1,3,0,0,1,1,1,0,0,59,7.370000e+00,8.0
454,SC Meaker,2,2,0,0,2,2,2,2,0,110,5.750000e+00,19.0
455,VR Aaron,4,6,0,0,1,0,4,6,0,156,5.882500e+00,28.1
456,CKB Kulasekara,1,0,0,0,1,1,1,0,0,17,5.660000e+00,3.0
457,Aizaz Cheema,4,9,0,0,2,1,4,5,0,134,4.825000e+00,24.0
458,Elias Sunny,2,1,0,0,2,1,2,3,0,82,5.285000e+00,16.0
459,SP Narine,3,35,0,0,2,1,3,3,0,121,4.815000e+00,26.0
460,R Sharma,2,0,0,0,0,0,2,4,0,88,4.400000e+00,20.0
461,JN Mohammed,1,2,0,0,1,1,0,0,0,0,0.000000e+00,0.0

In [57]:
r=read_csv("2008.csv", encoding = "latin")

In [59]:
x=r[r["name"]=="GC Smith (c)"].index.values

In [61]:
x[0]

11

In [27]:
from pandas import read_csv, DataFrame
from math import sqrt
class bat:
    def __init__(self, pl_name, played, batted, hu_100s, fi_50s, run, out, year):
        self.pl_name=pl_name
        self.played=played
        self.batted=batted
        self.hu_100s=hu_100s
        self.fi_50s=fi_50s
        self.run=run
        self.out=out
        self.year=year

        self.career=[]
        self.recent=[]
        self.batsman_score=[]
    def model_bat(self):
        year1=read_csv(str(self.year-4)+".csv", encoding = "latin")
        year2=read_csv(str(self.year-3)+".csv", encoding = "latin")
        year3=read_csv(str(self.year-2)+".csv", encoding = "latin")
        year4=read_csv(str(self.year-1)+".csv", encoding = "latin")
        for pl in self.pl_name:
            index=self.pl_name.index(pl)
            u=self.batted[index]/self.played[index]
            u=sqrt(u)
            v=(20*self.hu_100s[index])+(5*self.fi_50s[index])
            bat_avg=""
            if self.out[index]!=0:
                bat_avg=self.run[index]/self.out[index]
            else:
                bat_avg=self.run[index]
            w=0.3*v+0.7*bat_avg
            
            #career_score
            self.career.append(w*u)
            
            #last four match
            #recent_score calculation
            total=0
            val=year1[year1["name"]==pl].index.values
            if val:
                total+=year1["run_bat"][val[0]]
            val=year2[year2["name"]==pl].index.values
            if val:
                total+=year2["run_bat"][val[0]]
            val=year3[year3["name"]==pl].index.values
            if val:
                total+=year3["run_bat"][val[0]]
            val=year4[year4["name"]==pl].index.values
            if val:
                total+=year4["run_bat"][val[0]]
            self.recent.append(total/4)
            
        #batsman_score calculate    
        for i in range(len(self.pl_name)):
            #index=self.pl_name.index(pl)
            self.career[i]=self.career[i]/max(self.career)
            self.recent[i]=self.recent[i]/max(self.recent)
            self.batsman_score.append(0.35*self.career[i]+0.65*self.recent[i])
        return self.batsman_score

In [73]:
#new="https://stats.espncricinfo.com/ci/engine/stats/index.html?ballsmax1=300;ballsval1=balls;class=2;filter=advanced;floodlit=1;floodlit=2;home_or_away=1;home_or_away=2;home_or_away=3;innings_number=1;innings_number=2;opposition=1;opposition=2;opposition=25;opposition=3;opposition=4;opposition=5;opposition=6;opposition=7;opposition=8;orderby=start;page=%22+str%28i%29+%22;result=1;spanmax2=31+Dec+2011;spanmin2=01+Jan+2006;spanval2=span;team=1;team=2;team=25;team=3;team=4;team=5;team=6;team=7;team=8;template=results;type=team;view=results"
new="https://stats.espncricinfo.com/ci/engine/stats/index.html?ballsmax1=300;ballsval1=balls;class=2;filter=advanced;floodlit=1;floodlit=2;home_or_away=1;home_or_away=2;home_or_away=3;innings_number=1;innings_number=2;opposition=1;opposition=2;opposition=25;opposition=3;opposition=4;opposition=5;opposition=6;opposition=7;opposition=8;orderby=start;page="+str(i)+";result=1;spanmax2=31+Dec+2011;spanmin2=01+Jan+2006;spanval2=span;team=1;team=2;team=25;team=3;team=4;team=5;team=6;team=7;team=8;template=results;type=team;view=results"
response=requests.get(new, timeout=10)
soup=BeautifulSoup(response.text,'lxml')

In [74]:
table = soup.find_all("div",attrs={"class": "engine-dd"})
table = soup.find_all('table')[2] 
table_body=table.find('tbody')
rows = table_body.find_all('tr')
winner=[]
venue=[]
toss=[]
i=0
for row in rows[:]:
    cols=row.find_all('td')
    colm=[]
    for x in cols:
        colm.append(x.text.strip())
    print(colm,i)
    i+=1
    winner.append(colm[0])
    if colm[4]=="won":
        toss.append(colm[0])
    else:
        con=colm[7].split("v ")[1]
        toss.append(con)
    venue.append(colm[8].split("(")[0].strip())

['New Zealand', 'won', '5 wickets', '12', 'won', '2nd', '', 'v Sri Lanka', 'Christchurch', '3 Jan 2006', ''] 0
['New Zealand', 'won', '21 runs', '', 'won', '1st', '', 'v Sri Lanka', 'Wellington', '6 Jan 2006', ''] 1
['Sri Lanka', 'won', '20 runs', '', 'won', '1st', '', 'v New Zealand', 'Napier', '8 Jan 2006', ''] 2
['Australia', 'won', '116 runs', '', 'lost', '1st', '', 'v Sri Lanka', 'Melbourne (Docklands)', '13 Jan 2006', ''] 3
['South Africa', 'won', '5 wickets', '7', 'lost', '2nd', '', 'v Australia', 'Brisbane', '15 Jan 2006', ''] 4
['Sri Lanka', 'won', '94 runs', '', 'lost', '1st', '', 'v South Africa', 'Brisbane', '17 Jan 2006', ''] 5
['Australia', 'won', '59 runs', '', 'won', '1st', '', 'v South Africa', 'Melbourne (Docklands)', '20 Jan 2006', ''] 6
['Sri Lanka', 'won', '51 runs', '', 'won', '1st', '', 'v Australia', 'Sydney', '22 Jan 2006', ''] 7
['South Africa', 'won', '9 runs', '', 'won', '1st', '', 'v Sri Lanka', 'Adelaide', '24 Jan 2006', ''] 8
['Australia', 'won', '5 wickets', '9', 'lost', '2nd', '', 'v Sri Lanka', 'Adelaide', '26 Jan 2006', ''] 9
['Australia', 'won', '6 wickets', '54', 'lost', '2nd', '', 'v Sri Lanka', 'Perth', '29 Jan 2006', ''] 10
['South Africa', 'won', '5 wickets', '29', 'lost', '2nd', '', 'v Sri Lanka', 'Perth', '31 Jan 2006', ''] 11
['Australia', 'won', '80 runs', '', 'won', '1st', '', 'v South Africa', 'Melbourne (Docklands)', '3 Feb 2006', ''] 12
['Australia', 'won', '57 runs', '', 'won', '1st', '', 'v South Africa', 'Sydney', '5 Feb 2006', ''] 13
['Pakistan', 'won', '7 runs', '', 'won', '2nd', '', 'v India', 'Peshawar', '6 Feb 2006', ''] 14
['Sri Lanka', 'won', '76 runs', '', 'won', '1st', '', 'v South Africa', 'Hobart', '7 Feb 2006', ''] 15
['Sri Lanka', 'won', '22 runs', '', 'won', '1st', '', 'v Australia', 'Adelaide', '10 Feb 2006', ''] 16
['India', 'won', '7 wickets', '41', 'lost', '2nd', '', 'v Pakistan', 'Rawalpindi', '11 Feb 2006', ''] 17
['Australia', 'won', '167 runs', '', 'won', '1st', '', 'v Sri Lanka', 'Sydney', '12 Feb 2006', ''] 18
['India', 'won', '5 wickets', '14', 'won', '2nd', '', 'v Pakistan', 'Lahore', '13 Feb 2006', ''] 19
['Australia', 'won', '9 wickets', '27', 'lost', '2nd', '', 'v Sri Lanka', 'Brisbane', '14 Feb 2006', ''] 20
['India', 'won', '5 wickets', '105', 'won', '2nd', '', 'v Pakistan', 'Multan', '16 Feb 2006', ''] 21
['New Zealand', 'won', '81 runs', '', 'won', '1st', '', 'v West Indies', 'Wellington', '18 Feb 2006', ''] 22
['India', 'won', '8 wickets', '19', 'won', '2nd', '', 'v Pakistan', 'Karachi', '19 Feb 2006', ''] 23
['Sri Lanka', 'won', '5 wickets', '155', 'lost', '2nd', '', 'v Bangladesh', 'Bogra', '20 Feb 2006', ''] 24
['New Zealand', 'won', '3 wickets', '48', 'won', '2nd', '', 'v West Indies', 'Queenstown', '22 Feb 2006', ''] 25
['Bangladesh', 'won', '4 wickets', '12', 'won', '2nd', '', 'v Sri Lanka', 'Bogra', '22 Feb 2006', ''] 26
['New Zealand', 'won', '21 runs', '', 'won', '1st', '', 'v West Indies', 'Christchurch', '25 Feb 2006', ''] 27
['Sri Lanka', 'won', '78 runs', '', 'lost', '1st', '', 'v Bangladesh', 'Chattogram', '25 Feb 2006', ''] 28
['South Africa', 'won', '6 wickets', '21', 'lost', '2nd', '', 'v Australia', 'Centurion', '26 Feb 2006', ''] 29
['New Zealand', 'won', '91 runs', '', 'lost', '1st', '', 'v West Indies', 'Napier', '1 Mar 2006', ''] 30
['South Africa', 'won', '196 runs', '', 'won', '1st', '', 'v Australia', 'Cape Town', '3 Mar 2006', ''] 31
['West Indies', 'won', '3 wickets', '2', 'lost', '2nd', '', 'v New Zealand', 'Auckland', '4 Mar 2006', ''] 32
['Australia', 'won', '24 runs', '', 'lost', '1st', '', 'v South Africa', 'Port Elizabeth', '5 Mar 2006', ''] 33
['Australia', 'won', '1 wickets', '5', 'lost', '2nd', '', 'v South Africa', 'Durban', '10 Mar 2006', ''] 34
['South Africa', 'won', '1 wickets', '1', 'lost', '2nd', '', 'v Australia', 'Johannesburg', '12 Mar 2006', ''] 35
['Pakistan', 'won', '4 wickets', '32', 'won', '2nd', '', 'v Sri Lanka', 'Colombo (RPS)', '19 Mar 2006', ''] 36
['Pakistan', 'won', '4 wickets', '28', 'won', '2nd', '', 'v Sri Lanka', 'Colombo (SSC)', '22 Mar 2006', ''] 37
['India', 'won', '39 runs', '', 'lost', '1st', '', 'v England', 'Delhi', '28 Mar 2006', ''] 38
['India', 'won', '4 wickets', '6', 'lost', '2nd', '', 'v England', 'Faridabad', '31 Mar 2006', ''] 39
['India', 'won', '49 runs', '', 'won', '1st', '', 'v England', 'Margao', '3 Apr 2006', ''] 40
['India', 'won', '4 wickets', '16', 'lost', '2nd', '', 'v England', 'Kochi', '6 Apr 2006', ''] 41
['England', 'won', '5 wickets', '44', 'lost', '2nd', '', 'v India', 'Jamshedpur', '12 Apr 2006', ''] 42
['India', 'won', '7 wickets', '5', 'won', '2nd', '', 'v England', 'Indore', '15 Apr 2006', ''] 43
['Pakistan', 'won', '6 wickets', '9', 'lost', '2nd', '', 'v India', 'Abu Dhabi', '18 Apr 2006', ''] 44
['India', 'won', '51 runs', '', 'won', '1st', '', 'v Pakistan', 'Abu Dhabi', '19 Apr 2006', ''] 45
['Australia', 'won', '4 wickets', '36', 'lost', '2nd', '', 'v Bangladesh', 'Chattogram', '23 Apr 2006', ''] 46
['Australia', 'won', '67 runs', '', 'won', '1st', '', 'v Bangladesh', 'Fatullah', '26 Apr 2006', ''] 47
['Australia', 'won', '9 wickets', '164', 'lost', '2nd', '', 'v Bangladesh', 'Fatullah', '28 Apr 2006', ''] 48
['India', 'won', '5 wickets', '1', 'won', '2nd', '', 'v West Indies', 'Kingston', '18 May 2006', ''] 49

In [75]:
df=DataFrame({"winner":winner, "toss":toss,"venue":venue})
df

            toss           venue        winner
0    New Zealand    Christchurch   New Zealand
1    New Zealand      Wellington   New Zealand
2      Sri Lanka          Napier     Sri Lanka
3      Sri Lanka       Melbourne     Australia
4      Australia        Brisbane  South Africa
5   South Africa        Brisbane     Sri Lanka
6      Australia       Melbourne     Australia
7      Sri Lanka          Sydney     Sri Lanka
8   South Africa        Adelaide  South Africa
9      Sri Lanka        Adelaide     Australia
10     Sri Lanka           Perth     Australia
11     Sri Lanka           Perth  South Africa
12     Australia       Melbourne     Australia
13     Australia          Sydney     Australia
14      Pakistan        Peshawar      Pakistan
15     Sri Lanka          Hobart     Sri Lanka
16     Sri Lanka        Adelaide     Sri Lanka
17      Pakistan      Rawalpindi         India
18     Australia          Sydney     Australia
19         India          Lahore         India
20     Sri Lanka        Brisbane     Australia
21         India          Multan         India
22   New Zealand      Wellington   New Zealand
23         India         Karachi         India
24    Bangladesh           Bogra     Sri Lanka
25   New Zealand      Queenstown   New Zealand
26    Bangladesh           Bogra    Bangladesh
27   New Zealand    Christchurch   New Zealand
28    Bangladesh      Chattogram     Sri Lanka
29     Australia       Centurion  South Africa
30   West Indies          Napier   New Zealand
31  South Africa       Cape Town  South Africa
32   New Zealand        Auckland   West Indies
33  South Africa  Port Elizabeth     Australia
34  South Africa          Durban     Australia
35     Australia    Johannesburg  South Africa
36      Pakistan         Colombo      Pakistan
37      Pakistan         Colombo      Pakistan
38       England           Delhi         India
39       England       Faridabad         India
40         India          Margao         India
41       England           Kochi         India
42         India      Jamshedpur       England
43         India          Indore         India
44         India       Abu Dhabi      Pakistan
45         India       Abu Dhabi         India
46    Bangladesh      Chattogram     Australia
47     Australia        Fatullah     Australia
48    Bangladesh        Fatullah     Australia
49         India        Kingston         India

In [15]:
"Colombo (SSC)".split("(")

['Colombo ', 'SSC)']

In [63]:
venue[3]

'Melbourne'

In [83]:
Unew="https://www.espncricinfo.com/series/14685/scorecard/238176/new-zealand-vs-west-indies-2nd-odi-west-indies-tour-of-new-zealand-2005-06"
#Unew="https://www.espncricinfo.com/series/8531/scorecard/249229/australia-vs-new-zealand-5th-match-commonwealth-bank-series-2006-07"
response=requests.get(Unew, timeout=10)
soup=BeautifulSoup(response.text,'lxml')
team=soup.find_all("div", attrs={"class":"cscore_link cscore_link--button"})
team_name=team[1].find_all("span", attrs={"class":"cscore_name cscore_name--long"})
teamA=team_name[0].text.strip() #0
teamB=team_name[1].text.strip() #1

In [85]:
teamA

'West Indies'

In [112]:
randrange(12,20,2)

14